@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --b1:0 0% 100%;
}
.mainModal {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  animation: modal-pop 0.2s ease-out;
  place-items: center;
  position: fixed;
  inset: 0px;
  margin: 0px;
  display: grid;
  height: 100%;
  max-height: none;
  width: 100%;
  max-width: none;
  padding: 0px;
  overscroll-behavior: contain;
  z-index: 999;
  color: inherit;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;
  overflow-y: hidden;
}
.modalBox{
      --tw-translate-y: 0px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: 91.666667%;
    max-width: 32rem;
        width: 91.666667%;
    max-width: 32rem;
    border-top-left-radius: var(--rounded-box, 1rem);
    border-top-right-radius: var(--rounded-box, 1rem);
    border-bottom-left-radius: var(--rounded-box, 1rem);
    border-bottom-right-radius: var(--rounded-box, 1rem);
    --tw-bg-opacity: 1;
    padding: 1.5rem;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow-y: auto;
    overscroll-behavior: contain;
}